@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #5f2c82, pink);
    }

    #login {
        height: 270px;
        width: 80vw;
    }

    #imagem {
        float: right;
        height: 100%;
        width: 55%;
    }

    #form {
        float: left;
        width: 45%;
    }

}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #5f2c82, pink);
    }

    #login {
        height: 400px;
        width: 990px;
    }

    #imagem {
        float: left;
        height: 100%;
        width: 70%;
    }

    #form {
        float: right;
        width: 30%;
    }

}